[defaults]

inventory = inventory.ini
log_path = /var/log/ansible.log 

#It should be writable

ANSIBLE_PRIVATE_KEY_FILE = 

#ask_vault_pass = True
# vault_password_file = ~/.ansible/.mysql_vault
forks = 8